<fieldset>
  <legend>{{ question.text }}</legend>
  {% if question.guidance %}
  <p><small><em>{{ question.guidance }}</em></small></p>
  {% endif %}
  <textarea
    name="{{ question.id }}"
    x-model="answers.{{ question.id }}"
    rows="3"
  ></textarea>
</fieldset>
