<div class="field">
  <label class="label">{{ question.text }}</label>
  {% if question.guidance %}
  <p class="help"><em>{{ question.guidance }}</em></p>
  {% endif %}
  <div class="control">
    <textarea
      class="textarea"
      name="{{ question.id }}"
      x-model="answers.{{ question.id }}"
      rows="3"
    ></textarea>
  </div>
</div>
