<div class="field">
  <label class="label">{{ question.text }}</label>
  {% if question.guidance %}
  <p class="help"><em>{{ question.guidance }}</em></p>
  {% endif %}
  <div class="control options-col">
    {% for option in question.options %}
    <label class="checkbox">
      <input
        type="checkbox"
        name="{{ question.id }}"
        value="{{ option }}"
        x-model="answers.{{ question.id }}"
      />
      {{ option }}
    </label>
    {% endfor %}
  </div>
</div>
