<fieldset>
  <legend>{{ question.text }}</legend>
  {% if question.guidance %}
  <p><small><em>{{ question.guidance }}</em></small></p>
  {% endif %}
  <div class="options-col">
    {% for option in question.options %}
    <label>
      <input
        type="radio"
        name="{{ question.id }}"
        value="{{ option }}"
        x-model="answers.{{ question.id }}"
      />
      {{ option }}
    </label>
    {% endfor %}
  </div>
</fieldset>
