<div class="field">
  <label class="label">{{ question.text }}</label>
  {% if question.guidance %}
  <p class="help"><em>{{ question.guidance }}</em></p>
  {% endif %}
  <div class="control options-row">
    <label class="radio">
      <input
        type="radio"
        name="{{ question.id }}"
        value="yes"
        x-model="answers.{{ question.id }}"
      />
      Yes
    </label>
    <label class="radio">
      <input
        type="radio"
        name="{{ question.id }}"
        value="no"
        x-model="answers.{{ question.id }}"
      />
      No
    </label>
  </div>
</div>
