{% if question.visibility_js is defined %}
<div x-show="{{ question.visibility_js }}">
{% endif %}
{% include "questions/" ~ question.type ~ ".html.j2" %}
{% if question.visibility_js is defined %}
</div>
{% endif %}
