<section class="stack-md"{% if subsection.visible_when_js is defined %} x-show="{{ subsection.visible_when_js }}"{% endif %}>
  <h2>{{ subsection.title }}</h2>
  <p><small>{{ subsection.description }}</small></p>
  {% for question in subsection.questions %}
  {% with question=question %}
  {% include "question.html.j2" %}
  {% endwith %}
  {% endfor %}
</section>
