<div class="box stack-md"{% if subsection.visibility_js != "true" %} x-show="{{ subsection.visibility_js }}"{% endif %}>
  <h4 class="title is-5">{{ subsection.title }}</h4>
  <p class="subtitle is-6 has-text-grey">{{ subsection.description }}</p>
  {% for question in subsection.questions %}
  {% with question=question %}
  {% include "question.html.j2" %}
  {% endwith %}
  {% endfor %}
</div>
